<header>
  <h2>Games Administration</h2>
</header>

<section>
  <div id="venues">
      <table>
        <thead>
            <tr>
                <th class="sort" data-sort="game-id">ID</th>
                <th class="sort" data-sort="name">Name</th>
                <th>
                  <input type="text" class="search" placeholder="Search by Name" />
                </th>
            </tr>
        </thead>
        <tbody class="list">
          
         <% Game.all.each do |game| %>
          <% if can? :update, game %>
            <tr>
              <td class="game-id"><%= game.id %></td>
              <td class="name"><%= game.name %></td>
              <td class="edit"><%= link_to "Show", game_path(game), class: "btn" %></td>
            </tr>
          <% end %> 
        <% end %>
        </tbody>
    </table>
  </div>
  <p><%= link_to "New Game", new_game_path, class: "green-btn" %></p>
  </section>

  <div class="admin-panel-closer" id="admin-venue-link-close">Collapse Game Administration</div>