<article>
  <header>
    <h2>Dashboard</h2>
  </header>
  <section>
  	<%= link_to "Edit Profile", edit_user_path(current_user) %><br />
  	<%= link_to "Change Password/Email", edit_user_registration_path %>
  </section>
</article>

<%= render "admin_user" if current_user.group?(:Organizers) || current_user.group?(:Webmasters) %>
<%= render "admin_venue" if current_user.group?(:Hosts) || current_user.group?(:Organizers) || current_user.group?(:Webmasters) %>
