<article>
  <header>
    <h1>Host Resources</h1>
    <p>If you're reading this, you're organizing a jam site, and you're awesome! This page offers a checklist of things you'll need and provides other fun stuff like   hi-res assets and t-shirt templates if you want to create stuff for your local jam.<p>
  </header>
  <hr/>
  <section>
    <h2>Jam Site Checklist</h2>
      <ul>
        <li><b>Know Your Capacity</b> - if the signups on your Facebook event are anywhere near the maximum capacity of your venue, you may want to go to an alternate registration method like Eventbrite, where you can set a limited number of tickets.</li><br/>
        <li><b>Internet Connection</b> - make sure you have good wireless coverage, and wired internet avaialbility is a huge plus. Tell people what they need to bring (switches, cables, adapters, etc) to connect to the network at your venue. Also verify that the speed of your connetion will be able to handle the load from the number of attendees you have.</li><br/>
        <li><b>Livestream Camera</b> - If possible, set up a livestream camera and a screen for your attendees to see themselves and the other jam sites. Molyjam is a global event, and this connection with the other sites is really powerful for your attendees.</li><br/>
        <li><b>The Basics</b> - make sure your attendees have access to bathrooms, tables and chairs, power outlets, and parking or public transit. It's OK if people need to bring their own power strips - just let them know ahead of time.</li><br/>
        <li><b>Jam Hours</b> - figure out how late you want to keep your site open every night and tell your attendees in advance. Some people will drive from out of town to attend, and it's helpful for them to plan their accommodations. If you have site that is open all night, encourage everyone to go home and sleep/shower anyways and find someone to cover for you while you do the same!</li>
      </ul>
      <hr/>
      <h2>Finding Sponsors</h2>
      <p>If you need help paying for the things you need to run a jam site, get in touch with:</p>
      <ul>
        <li>local game studios</li>
        <li>local colleges / universities</li>
        <li>local hackerspaces</li>
        <li>anyone else that could benefit from gaining visibility in front of a lot of game developers</li>
      </ul>
      <p>In some cases, it may help if you can offer a leave-behind of some kind like a t-shirt where the sponsor(s) can put their logo. It may cost more money overall, but it potentially makes it more attractive to the sponsor since they'll be doing something awesome <i>and</i> have a bunch of cool people wearing their logo places.</p>
      <p>Don't forget to mention that sponsors get their logos added to the main Molyjam website, too!</p>
    </section>
    <hr/>
    <section>
      <h2>Molyjam Assets</h2>
      <h3>Logo</h3>
      <p>
        <%= link_to image_tag("resources/molydeux-thumb.png"), image_path("resources/molydeux.png") %><br/>
        3000x3000 PNG [<%= link_to "Download", image_path("resources/molydeux.png") %>]
      </p>
      <h3>T-Shirt Templates</h3>
      <ul>
        <li><%= link_to "Front", image_path("resources/shirt_molydeux_dark_front.png") %></li>
        <li><%= link_to "Back", image_path("resources/shirt_molydeux_dark_back.png") %></li>
      </ul>
      <h3>Style / Colors</h3>
      <p>It's not important for you to exactly follow the theme and style of the website, but here's some of the stuff we use if you'd like to give it a shot:</p>
      <ul>
        <li><b>Logo Font</b> - Gotham Bold</li>
        <li><b>Green Color (Hex)</b> - #51c844</li>
        <li><b>Green Color (Pantone)</b> - 802 U</li>
      </ul>
    </section>
    <hr/>
    <footer>
      <h3>Something Else?</h3>
      <p>If you've made something awesome that you want to share with other jam sites, post it in the organizers Facebook group and we'll add it here!</p>
    </footer>
</article>