<div class="news-post">         
  <div class="news-title">
    <h2>Molyjam Deux Theme Announced</h2>
  </div>

  <p class="news-meta">Posted June 25, 2013</p>

  <div class="news-content">
<p>It's time for a change. Yes, we could have done a second Molyjam using the exact same themes and format, but wouldn't that be against what this whole movement is about? And isn't Molyjam all about defying conventions, and getting at the True Heart of the Lion Himself?</p>
<p>Yes! It would, and it is. And so! We have decided on this year's theme - actual, out-of-context quotes from the real Peter Molyneux. Molyneux is a man who needs no assistance when it comes to parody. His own words are strong enough. Who but Molyneux has the strength to say things like, "Pull the right trigger to see The Most Interesting Thing In The World." Or, "It's you Americans. There's something about nipples you hate."</p>
<p>We've provided you with a list of over <%= link_to "60 quotes", inspirations_path(show: 'all' )%>, with <%= link_to "22 specially-highlighted picks", inspirations_path %> from the organizers. One for each of Molyneux' cans. And if you're an enterprising sort, you're welcome to find your own Molyneux quotes, so long as you can find a source for them.</p>
<p>Molyjam isn't about sequels. Molyjam is about changing everything. Change is good - without change we die, alone in the pits of despair. Changing everything is about making videos of tiny men the punchline to a Curious year-long joke. So let's change the world, together.</p>
        <div class="news-padding">
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>

<br />
<div class="video-container-youtube">
  <iframe width="100%" height="315" src="http://www.youtube.com/embed/ovEwmVfpN1k" frameborder="0"></iframe>
</div>

<div class="news-post">         
  <div class="news-title">
    <h2>Molyjam Deux Locations Announced</h2>
  </div>

  <p class="news-meta">Posted June 18, 2013</p>

  <div class="news-content">
        <p>A list of confirmed locations for Molyjam Deux is now available. Visit our <%= link_to "location page", venues_path %> to find an event near you and RSVP. We'll be adding more locations right up until the weekend of the jam, July 5-7!</p>

        <p>To be the first to know of any Molyjam news follow <%= link_to "@molyjam", "http://www.twitter.com/molyjam" %> on Twitter!</p>

        <div class="news-padding">
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>