<h1>Locations</h1>


<ul>
<% @venues.each do |venue| %>
  <li>
  	<span><%= image_tag("flags/" + venue.country + ".png") %></span>
    <span><%= link_to venue.city, venue, class: "btn" %></span>
    <span><%= venue.address %></span>
  </li>
    

<% end %>
</ul>

<br />

<%= link_to 'New Venue', new_venue_path, class: "btn" %>
