<% if can? :create, Game %>
<div style="padding: 1em; background-color: #555;">
	<h4>Ready to share your game with the world?</h4>

	<%= form_for Game.new do |f| %>
	<p>Whats your game called? <%= f.text_field :name %></p>
	<%= f.submit "Create!", class: "button" %>
	<% end %>
</div>
<% end %>
