<section>

  <%# @game.screenshots.each do |screenshot| %>
  <p><%# image_tag screenshot.file_path, width: "100%" %></p>
  <% end %>

  <% if can? :edit, @game %>
  <div class="admin-insert">
  </div>
  <% end %>

</section>
<hr/>