$darkGreen: #3F9C37;
$green: #50c747; /* Molydeux Green Pixel Color */
$lightGreen: #65FB59;
$darkGrey: #1b1b1b;
$black: #000000;
$offWhite: #ebebeb;
$offBlack: #222222;
$white: #ffffff;
$contentBlack: #393939;
$sidebarBlack: #292929;
$footerGrey: #999999;
$lightGrey: #404040;
$orange: #CA652E;
$blue: #45BAEF;