body {
  font-family: $bodyFont;
  background-color: $black;
  background-image: image-url("bg.png");
  color: $white;
}


a {
  font-weight: normal;
  color: $green;
  text-decoration: none;
  
  &:hover {
    color: $blue;
  }
}

p {
  color: $offWhite;
  line-height: 1.1em;
  margin: 5px 0px;
}

h2, h3, h4, h5, h6 {
  color: $orange;
  font-weight: bolder;
}

h2 {
  font-size: 1.2em;
}

.centered h2 {
  text-align: center;
  font-size: 1.5em;
}

//Logo Branding
.brand{
  height: auto;
  display: inline-block;
	.logo {
		width: 100%;
	}
	
}

//For temp pages
table {
  display: block;
  clear: both;
  
  tr {
    
    border-left: thin solid $green;
    
    th, td {
      color: $white;
      padding: 5px 10px;
    }
    
    
    th {
      border-bottom: thin solid $green;
      font-weight: bold;
    }
  }
  
}

.sponsor {
  
  img {
    width: 100%;
  }
  
  figcaption { 
    display: none;
  }
  
}

form {
  display: block;
  width: auto;
  max-width: 250px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  
  #error_explanation {
    
    text-align: left;
    margin: 10px auto;
    
    
    h2 {
      font-size: 1em;
      color: $white;
      padding: 2px 10px;
      @include border-radius(10px);
      margin: 5px 2px;
      background: $red;
      text-align: left;
    }
    
    ul {
      color: $red;
    }
    
  }
}

label, input {
  display: block;
}

input {
  min-width: 175px;
  background: $white;
  color: $black;
  @include border-radius(10px);
  padding: 1px 3px;
  @include single-box-shadow($darkGrey, 1px, 1px 3px, 1px, true);
  border: none;
  
  &:focus {
    outline: none;
    @include box-shadow($blue 0px 0px 4px 2px);
  }
}

fieldset {
  text-align: left;
  display: block;
  width: auto;
  max-width: 200px;
  margin: 0px auto 5px auto;
  
  &.small {
  
  padding-left: 5px;
  
    label, input {
      display: inline;
      margin: auto;
      padding: 0px;
      vertical-align: middle;
    }
  }
  
  &.actions {
    text-align: center;
    
    input {
      display: inline-block;
      width: auto;
      min-width: auto;
      margin: 5px 2px;
    }
    
  }
  
}

.button {
  background: $green;
  color: $white;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
  @include border-radius(20px);
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px 10px;
  
  &:hover {
    @include box-shadow($blue 0px 0px 4px 2px);
  }
  
  &:active {
    background-color: $blue;
    color: $orange;
  }
}



