body {
  font-family: $bodyFont;
  background-color: $black;
  background-image: image-url("bg.png");
}


a {
  font-weight: normal;
  color: $green;
  text-decoration: none;
  
  &:hover {
    color: $blue;
  }
}

p {
  color: $offWhite;
  line-height: 1.1em;
  margin: 5px 0px;
}

h2, h3, h4, h5, h6 {
  color: $orange;
  font-weight: bolder;
}

h2 {
  font-size: 1.2em;
}

//Logo Branding
.brand{
  height: auto;
  display: inline-block;
	.logo {
		width: 100%;
	}
	
}

//For temp pages
table {
  display: block;
  clear: both;
  
  tr {
    
    border-left: thin solid $green;
    
    th, td {
      color: $white;
      padding: 5px 10px;
    }
    
    
    th {
      border-bottom: thin solid $green;
      font-weight: bold;
    }
  }
  
}

.sponsor {
  
  img {
    width: 100%;
  }
  
  figcaption { 
    display: none;
  }
  
}
