/** Break Points **/
$default-columns: 14;

/** Page Widths **/
$default-width: 980;

/** Column Sizes **/
$column-width-abs : 40;
$gutter-width-abs : 20;

/*** Susy Grid Layouut Settings **/
$total-columns  : $default-columns;             // a 12-column grid
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

@include at-breakpoint(979px 12) {
  $grid-padding : 0em; 
}