.header{
  /** This height must be no more than
   * .content padding-top
   */
  
  width: 100%;
  margin: 0 auto;
  clear: both;
  position: fixed;
  background: $darkGrey;
  z-index: 2;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 1px 2px 0px #000000;
  box-shadow: 0px 1px 2px 0px #000000;
 
}

.header-container {
  
  max-width: $total-columns * $column-width + $gutter-width * $total-columns - 1;
  width: 100%;
  margin: 0px auto 0px auto;
  z-index: 100;
  height: auto;
  max-height: 60px;
  
  .brand {
    margin-right: 10 / 980 * 100%;
    width: 150 / 980 * 100%;
    min-width: 100px;
    display: inline-block;
    vertical-align: middle;
  }
}

.header-container nav {
  margin:  auto 10px;
  display: inline-block;
  height: 40px;
  width: auto;
  vertical-align: middle;
  background: inherit;
  
  .menu {
    display: inline-block;
    height: 100%;
    width: auto;
    padding: 0px;
    background: inherit;
   
    
   a {
      color: $green;
      font-weight: 500;
      width: auto;
      height: auto;
      &:hover {
        color: white;
      }
    }
    
    .link, .button {
      display: inline-block;
      height: auto;
      vertical-align: middle;
      padding: 10px;
      
      a {
        width: auto;
        height: inherit;
        display: block;
        vertical-align: middle;
      }
      
      &:hover, &.active {
        @include single-box-shadow(#000000, 0, 0, 5px, 1px, true);
        background: #2b2b2b;
        @include border-radius(4px, 4px);
      }
    }
    
    @include at-breakpoint(29.938em) {
    
      .button {
        display: none;
      }
      
    }
  }
  
  @include at-breakpoint($total-columns 30em) {
      
    background: $darkGrey;
    text-align: center;
    width: 150px;
    
    &.user {
      width: 90px;
    }
    
    .menu {
      width: 100%;
      background: $darkGrey;
    
      .button button{
        background: inherit;
        border: none;
        color: $green;
        font-family: $bodyFont;
        font-size: 1em;
        font-weight: 500px;
        width: 100%;
        display: block;
      }
    
      .link {
        display: none;
        width: auto;
        background: inherit;
      }
        
      &.active .link,
      &:hover .link {
        display: block;
        width: auto;
      }
    }
      
  }
  
}

nav.user {
  float: right;
}