html {
 width: 100%;
}

body{
 width: 100%;
}

.page {
  @include container;
  @include border-box-sizing;
  position: relative;
  background-color: $contentBlack;
  @include single-box-shadow(#000000, 1px, 0px, 15px, 0px);
}

.inner-content{
  background-color: $darkGrey;
  margin: 10px 0px;
  padding: 10px;
}

.content {
	clear: both;
  position: relative;
  padding-top: 65px;

  .masthead {
  	clear: both;
  	height: 300px;
  }
  
  .center-column {
    clear: both;
    height: auto;
    background: inherit;
    
    .centered {
      padding: 10px;
      @include span-columns(8, $total-columns);
      @include pre(3);
      margin-top: 10px;
      margin-bottom: 10px;
      @include border-radius(10px);
      border: thin solid $darkGrey;
      @include single-box-shadow($darkGrey, 1px, 1px, 5px, 0px);
    }
    
  }
    
  .left-column {
    $left-columns: 10;
    padding: 10px;
    background: inherit;
    @include span-columns($left-columns, $total-columns);
      
    .info {
      display: block;
      margin: 10px 0px;
      
      p {
        margin: $gutter-width / 2;
      }
    }      
      
  }
    
  .right-column {
    $right-columns: 4;
    @include span-columns($right-columns omega, $total-columns);
    background-color: $sidebarBlack;
    position: relative;
    top: -150px;
    height: 100%;
    padding-bottom: $gutter-width * 2;
    font-size: 1.01em;
    color: $offWhite;

    .info {
      clear: both;
      margin: $gutter-width / 2;
      margin-bottom: $gutter-width;
      
      h3 {
        font-size: 1.5em;
        border-bottom: solid $green 2px;
        margin-bottom: $gutter-width/4; 
      }
    }

  } 
}


