/*
 * This is the sitewide styling of the site, this scss file should be included on all pages.
 *
 */

@import "compass";
@import "susy";
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "fonts";
@import "colors";
@import "grid-base";
@import "elements.scss";
@import "layout";
@import "carousel";
@import "header";
@import "footer";
@import "login";

.alert {
  
  margin: 10px auto;
  text-align: center;
  @include border-radius(10px);
  padding: 10px;
  background: $darkGreen;
  color: $white;
  max-width: 300px;
  position: relative;
  
  strong {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }
  
  .close {
    
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
  }
  
  &.alert-error {
    background-color: $red;
  }
  
}