.attachments {
  .thumbs {
    img {
      max-height: 200px;
      max-width: 200px;
    }
  }
}

#attach_file > div {
  float: left;
}
.or_delim {
  margin: 20px;
}

#select_file {
  margin-top: 40px;
}

#quota {
  float: right;
  clear: both;
}

#attachment_popup {
  position: fixed;
  top: 100px;
  margin: 0 100px;
  background: black;
  padding: 20px;
}

#cancel_attachment {
  right: 10px;
  position: absolute;
  top: 10px
}
