/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}


ol, ul{
    padding: 0px;
}

body,html{
    min-height: 100%;
    height: 100%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #333333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    color: #e6e6e6;
    min-height: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 5px solid #555555;
    background: #222222;
}

.footer-container,
.main aside {
    border-top: 20px solid #51c844;
}



.footer-container,
.main aside {
    background: #555555;
}

.map-wrap{
  padding: 0;
}

.no-bg aside {
    background: #222222;
    box-shadow: none;
    border: 0;
    padding-top: 10px;
    margin-top: 30px;
}

.map-container {
    background: #222222;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
    width: 36%;
    float: right;
}

.map-container .map{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 250px;
}

.no-bg aside.venue_register {
  padding-top: 10px;
}

.title {
    color: white;
}

.main article ul {
  padding-left: 22px;
}

.main article li {
  list-style: disc;
}

.main #locations-list ul li {
  list-style: none;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 5px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #555555;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
  text-decoration: underline;
    background-color: #666666;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 4% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      width: 100%;
      height: inherit;
      float: left;
    }


.splash{
    background: url('../pixel-bg.jpg');
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    overflow:auto;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cube{
    background-color: #51c844;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 20%;
    text-align: center;
}

.cube-contents{
    margin: 0 auto;
    position: relative;
    top: 45%;
    color: #2e7127;

}

.cube-contents a{
    text-decoration: none;
    color: inherit;
    background-color: #2e7127;
    font-size: 2em;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 10px;
    cursor:pointer;
}

.cube-contents a:hover{
    text-decoration: none;
    color: inherit;
    background-color: #42a237;
    font-size: 2em;
    padding: 10px;
    color: #FFFFFF;
    margin-top: 10px;
}

.countdown{
    font-size: 4em;
}

section ul{
  list-style: square;
  padding-left: 20px;
}

.main a{
  color: #FFFFFF;
}

.img-full-width{
  width: 100%;
}

.livestream{
    width: 100%;
    background-color: #444444;
    display: block;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 30px;
    cursor: pointer;
}

.message{
    width: 50%;
    background-color: #444444;
    display: block;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    float: right;
}

.top-section{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.top-section-inner{
  top: 50%;
  position: absolute;
}

.hype-1{
  font-size: 4.5em;
  line-height: 1em;
  font-weight: bold;
}

.hype-2{
  font-size: 7.9em;
  font-weight: bold;
  line-height: 1em;
}

.livestream:hover{
    background: #555555;
}

.video-container { /* Container that makes video iFrames full width at proper aspect ratio */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
    display: none;
}

.video-container-youtube { /* Container that makes video iFrames full width at proper aspect ratio */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.main .facebook-event-container{
  margin-top: 30px;
}

.main .facebook-event-container:hover{
  background-color: #666666;
}

aside .facebook-event-area{
  padding-top: 10px;
}

.facebook-event-logo{
  width: 30%;
  float: left;
  padding-right: 10px;
}

aside hr{
    border: 0;
    color: #666666;
    background-color: #666666;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
    clear: both;
}

.main hr{
    border: 0;
    color: #666666;
    background-color: #666666;
    height: 1px;
    margin-left: 3%;
    margin-right: 3%;
    clear: both;
}

aside p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

aside h3{
    padding:0;
    margin-top: 10px;
    margin-bottom: 0;
}


aside ul{
    float: none;
    margin-top: 10px;
 }
aside .btn{
    float: none;

}
aside li{
    list-style: none;
    float: none;
    margin-left: 0px;
    clear:both;
    margin-top: 5px;
    text-align: left;
}

.map {
  clear: both;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}

footer a{
  color: #FFFFFF;
}

footer p{
  font-size: 0.8em;
}

.hype-box{
  width: 100%;
}

.news-title{
  margin-top: 30px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 5px 0px;
  border-color: #51c844;
  background-color: #444444;
  width: 100%;
}

.news-title h2{
  padding: 10px;
}

.news-post{
  width: 100%;
  background-color:#222222;
}

.news-post p{
  padding: 10px;
  padding-top: 0px;
  margin: 0;
}

.news-meta {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
  font-color: #555555;
}

.news-padding{
  padding: 10px;
}


.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    z-index: 1;
}


.video-container-youtube iframe,
.video-container-youtube object,
.video-container-youtube embed {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    z-index: 1;
}

.input-text{
  padding: 4px;
  font-size: 1.5em;
}

.button-temp {
  background: #50C747;
  border:1px solid #3B9435;
  cursor:pointer;
  padding: 8px 14px 10px;
  font-size:1.5em;
  font-weight: bold;
  letter-spacing:.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-box-shadow: inset 0px 1px 0px #50C747, 0px 5px 0px 0px #3B9435;
  -moz-box-shadow: inset 0px 1px 0px #50C747, 0px 5px 0px 0px #3B9435;
  box-shadow: inset 0px 1px 0px #50C747, 0px 5px 0px 0px #3B9435;
  display: inline;
  margin-top: 5px;
}

.form-temp{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}

.green{
  color: #51c844;
}








.download-area aside{
  background-color: ##555555;
  border-width: 0px;
  padding: 10px 4%;
  margin-bottom: 10px;
  float: right;
  position: relative;
}

.download-link img{
  float: right;
  width: 15%;

}

.download-link p{
  float:left;
  position: absolute;
  top: 30%;
  font-size: 1.2em;
}


.html_carousel {
}
.html_carousel div.slide {
  position: relative;
} 
.html_carousel div.slide img {
  width: 100%;
  height: 100%;
}
.html_carousel div.slide div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
}
.html_carousel div.slide h1 {
  font-size: 35px;
  padding: 30px 0 0 100px;
}
.html_carousel div.slide p {
  font-size: 16px;
  padding: 0 0 30px 100px;
}
.html_carousel div.slide h1, .html_carousel div.slide p {
  color: white;
  margin: 0;
}


#header-image{
    position: relative;
    width: 100%;
    height: 40%;
    overflow: visible;
    z-index: 1;
    
    filter: alpha(opacity = 0); /* required for opacity to work in IE */
    webkit-filter: blur(5px); filter: url(#blur-effect-1); 
    
}


#css-filter-blur { margin: 0px;
  -webkit-transition: all 0.3s ease-out; 
     -moz-transition: all 0.3s ease-out; 
      -ms-transition: all 0.3s ease-out; 
       -o-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out;
 }

.stretch {
    width:100%;
    height: 100%;
}

.game-title{
  z-index: 4;
  position: absolute;
  margin-top: -125px;
  font-size: 2.8em;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background: rgba(0, 0, 0, 0.75);
  padding: 30px 20px;
  border-top: 10px solid #51c844;
}



.info-category{
  float: left;
}
.info-fill{
  float:right;
}






.layout-list .gamelist-container{
  width: 100%;
  display: inline-block;
  position: relative;
}

.layout-grid .gamelist-container{
  width: 100%;
  position: relative;
  display: inline-block;
}

.layout-list .list-screenshot-bottom{
  width: 20%;
  position: absolute;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: 50%;
}

.layout-grid .list-screenshot-top{
  width: 100%;
  position: relative;
  cursor: pointer;
  height: 200px;
  display: block;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 7px;
}

.list-screenshot .top{

}

.layout-list .list-body-container{
  float: right;
  width: 80%;
}

.layout-list .list-body-list{
  margin-left: 2%;
}

.layout-list .list-body-grid{
  display: none;
}

.layout-grid .list-body-grid{
  margin-right: 2%;
}

.layout-grid .list-body-list{
  display: none;
}


.layout-list .list-body hr{
  margin-left: 0;
  margin-right: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}


.layout-list .list-platform{
  width: 5%;
  margin-left: 5px;
  float: right;
  min-width: 30px;
}

.layout-grid .list-platform{
  width: 4%;
  margin-left: 2px;
  float: right;
  min-width: 30px;
}

.layout-list .gamelist .genre{
  color: #999999;
  padding-right: 2px;
}

.grid-list .gamelist .genre{
  color: #999999;
  padding-right: 2px;
  margin: 0px;
}

.layout-list .gamelist .location, .layout-grid .gamelist .location{
  color: #999999;
}

.layout-list .gamelist .location-filler, .layout-grid .gamelist .location-filler{
  color: #999999;
}

.layout-list .gamelist .description, .layout-grid .gamelist .description{
  font-size: 0.8em;
  color: #888888;
  line-height: 1.3em;
}

.layout-grid .gamelist .description{
  height: 50px;
}

.layout-list .gamelist li{
  width: 96%;
  padding: 2%;
  padding-bottom: 1.5%;
  display: block;
  float: left;
}


.gamelist-filters{
  width: 98%;
  padding: 1%;
  background-color: #222222;
  margin-bottom: 15px;
  float: left;
}

.dropdown-label{
  font-size: 0.6em;
  padding-bottom: 0px;
  position: relative;
  display: block;
  line-height: 0.8em;
}

.dropdown-selected{
  font-size: 1.1em;
  padding-top: 0px;
  display: block;
}

.dropdown-search{
  width: 95%;
  float: left;
  margin-right: 25px;
  display: inline;
  margin-top: 0px;
}

.dropdown-search .search{
  padding: 4px 10px;
  padding-top: 12px;
  font-size: 1.1em;
  width: 100%;
}

.dropdown-sort{
  width: 43px;
  float: right;
  margin-left: 5px;
  cursor: pointer;
  display: none;
}

.active{
  opacity: 0.9;
}
.inactive{
  opacity: 0.3;
}

/* ==========================================================================
   List.js CSS - via http://listjs.com/css/style.css
   ========================================================================== */
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}

.flag-icon{
    float: left;
    padding-right: 20px;
    padding-top: 3px;
}

.btn {
  color: #CCC;
  margin-right: 5px;
  padding: 5px 10px;
  border: solid 1px #666;
  display: block;
  margin: 0px;
  float: left;
  cursor: pointer;
  cursor: hand;
}

.btn-filter {
  color: #FFFFFF;
  margin-left: 1%;
  margin-right: 1%;
  padding: 5px 10px;
  padding-bottom: 2px;
  width: 95%;
  min-width: 150px;
  border: solid 1px #666;
  display: block;
  margin: 0px;
  float: left;
  background-color: #777777;
  cursor: pointer;
  cursor: hand;
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn:hover, .btn-filter:hover {
  background-color: #777777;
  color: #fafafa;
}

li h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

#locations-list {
  margin-bottom: 60px;
}

#locations-list ul{
  padding-left: 0px;
}

#locations-list .thumb {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 20px;
  border: solid 1px #333;
}
#locations-list .list {
  clear: both;
  margin-bottom: 10px;
}
#locations-list .list li {
  padding: 20px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
}

#locations-list .list a {
  text-decoration: none;
  color: inherit;
}

#locations-list .list li:hover, #game-list .layout-list li:hover{
    background-color: rgba(255, 255, 255, 0.05);
    color: #fafafa;
}

#locations-list li:nth-child(2n+1), .layout-list #game-list li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.layout-grid .gamelist li{
  width: 100%;
  padding: 1%;
  float: left;
  margin-bottom: 15px;
}

.layout-grid  #game-list li {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
}

#locations-list li:nth-child(2n+1) .thumb {
  border: solid 1px #666;
}

#locations-list .category{
    display: none;
}

#locations-list h4 {
  color: #fafafa;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}
#locations-list p {
  font: normal 14px/1.3 'helvetica neue', helvetica, arial;
  color: #aaa;
  text-align: left;

}
#locations-list .sort-by {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}

#contacts input {
  font-size: 13px;
  margin: 0;
  width: 200px;
}
#contacts {
  margin-bottom: 100px;
}
#contacts td.name,
#contacts td.age,
#contacts td.city {
  width: 130px;
}
#contacts td.edit,
#contacts td.remove {
  width: 130px;
}
#contacts td.add {
  width: 300px;
}
#contacts input {
  width: 100px;
}
.huge {
  max-height: 500px;
  overflow: scroll;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: right;
        margin: 0 1.0%;
        margin-top: 20px;
        padding: 10px 2.7%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-right: 0;
    }

    nav li:last-child a {
        margin-left: 0;
    }

    .logo {
      height: 50px;
      width: inherit;
      display: inline;
      margin: 0;
      padding-bottom: 0;
    }

    .layout-grid .gamelist li{
      width: 100%;
      padding: 1%;
      float: left;
      margin-bottom: 15px;
    }
    
    .layout-grid  #game-list li {
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(255, 255, 255, 0.1);
    }

    .btn-filter {
      color: #FFFFFF;
      margin-left: 1%;
      margin-right: 1%;
      padding: 5px 10px;
      padding-bottom: 2px;
      width: 96%;
      min-width: 150px;
      border: solid 1px #666;
      display: block;
      margin: 0px;
      float: left;
      background-color: #777777;
      cursor: pointer;
      cursor: hand;
      margin-bottom: 10px;
    }

    .dropdown-search{
      width: 96%;
      float: left;
      margin-right: 25px;
      display: inline;
      margin-top: 0px;
    }

    .dropdown-search .search{
      padding: 4px 10px;
      padding-top: 12px;
      font-size: 1.1em;
      width: 100%;

    }

    .dropdown-sort{
      width: 43px;
      float: right;
      margin-left: 5px;
      cursor: pointer;
      display: none;
    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 0px 8px #000;
           -moz-box-shadow: 0 0px 8px #000;
                box-shadow: 0 0px 8px #000;
    }

  .layout-grid .gamelist li{
      width: 46%;
      padding: 1%;
      float: left;
      margin-bottom: 15px;
  }
  
  .layout-grid  #game-list li {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.1);
    margin-right: 1.7%;
  }

  .layout-grid  #game-list li:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.1);
    margin-right: 0%;
  }

  .btn-filter {
    color: #FFFFFF;
    margin-right: 5px;
    padding: 5px 10px;
    padding-bottom: 2px;
    width: 23%;
    min-width: 150px;
    border: solid 1px #666;
    display: block;
    margin: 0px;
    float: left;
    background-color: #777777;
    cursor: pointer;
    cursor: hand;
    margin-right: 10px;
  }

  .dropdown-search{
    width: 97%;
    float: left;
    margin-right: 25px;
    display: inline;
    margin-top: 10px;
  }

  .dropdown-search .search{
    padding: 4px 10px;
    padding-top: 12px;
    font-size: 1.1em;
    width: 100%;
  }

  .dropdown-sort{
    width: 43px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
    display: block;
  }

.no-bg aside {
    box-shadow: none;
}

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    .layout-grid .gamelist li{
      width: 30%;
      padding: 1%;
      float: left;
      margin-bottom: 15px;
    }

    .layout-grid  #game-list li, .layout-grid  #game-list li:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(255, 255, 255, 0.1);
      margin-right: 1.7%;
    }

    .layout-grid  #game-list li:nth-child(3n) {
      background-color: rgba(0, 0, 0, 0.1);
      border: solid 1px rgba(255, 255, 255, 0.1);
      margin-right: 0px;
    }
    .dropdown-search{
      margin-left: 5px;
      width: 30%;
      float: right;
      margin-right: 25px;
      display: inline;
      margin-top: 0px;
    }

    .btn-filter {
      color: #FFFFFF;
      margin-right: 5px;
      padding: 5px 10px;
      padding-bottom: 2px;
      width: 15%;
      min-width: 150px;
      border: solid 1px #666;
      display: block;
      margin: 0px;
      float: left;
      background-color: #777777;
      cursor: pointer;
      cursor: hand;
      margin-right: 10px;
    }

    .dropdown-search .search{
      padding: 4px 10px;
      padding-top: 12px;
      font-size: 1.1em;
      width: 100%;
    }

    .dropdown-sort{
      width: 43px;
      float: right;
      margin-left: 5px;
      cursor: pointer;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}