
<%= form_for [@game, @screenshot], :html => {:multipart => true} do |f| %>
<table width="100%">
<tr>
	<td><%= f.file_field :image %></td>
	<td><%= f.submit "Upload Screenshot", class: "btn", style: "float: right" %></td>
</tr>
</table>
<% end %>