<div class="footer-container">
  <footer class="wrapper">
    <p>Molyjam is a non-profit game jam run by really cool people who don't know how to write copyright text. It is inspired by but not affiliated with Peter Moly<span class="green">n</span>eux, who is not to be confused with Peter Moly<span class="green">d</span>eux.</p>
    <p>Molyjam Web Platform created by <a href="http://www.zanewolfgangpickett.com/" target="_blank">Zane Wolfgang Pickett</a>, <a href="http://www.holdenlink.com" target="_blank">Holden Link</a>, and <a href="http://angusp.com/" target="_blank">Angus Perkerson</a>. Hosting provided by <a href="http://www.magicpixelgames.com" target="_blank">Magic Pixel Games</a>.</p>
  </footer>
</div>