<div class="footer-container">
  <footer class="wrapper">
    <p>What Would Molydeux? is a non-profit game jam run by some really cool people who don't know how to write copyright text.<br>
                    Molyjam Web Platform created by <a href="http://www.zanewolfgangpickett.com/" target="_blank">Zane Wolfgang Pickett</a>, <a href="http://www.holdenlink.com" target="_blank">Holden Link</a>, and <a href="http://angusp.com/" target="_blank">Angus Perkerson</a>. Hosting provided by <a href="http://www.magicpixelgames.com" target="_blank">Magic Pixel Games</a>.</p>
  </footer>
</div>