<nav class="main">
  <ul class="menu">
    <%# Change this to get rails generated links #%>
    <li class="button"><button class="menu">Menu</button></li>
    <li class="link"><a href="/venues">Venues</a></li>
  </ul>
</nav>