<div class="main-container">
  <div class="main wrapper clearfix">
    <% flash.each do |type, message|
          case type 
            when :alert %><div class="alert alert-error"><strong>Alert</strong><% 
            when :notice %><div class="alert alert-success"><strong>Notice</strong><% 
            when :message %><div class="alert alert-info"><strong>Message</strong><% 
          end %><%= message %></div>
        <% end %>
    <%= yield %>
  </div> <!-- #main -->
</div> <!-- #main-container -->