<nav class="user">
  <ul class="menu">
    <li class="button"><button class="menu"><% if user_signed_in? %>Profile<% else %>Join Us<% end %></button></li>
    <% if user_signed_in? %>
      <li class="link">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
      <li class="link">
        <%= link_to('Edit Profile', edit_user_registration_path) %>
      </li>
    <% else %>
      <li class="link">
        <%= link_to('Login', new_user_session_path)  %>  
      </li>
      <li class="link">
        <%= link_to('Register', new_user_registration_path)  %>
      </li>
  <% end %>
  </ul>
</nav>